/* Basic styling for the navigation container */
.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    background-color: #070e1b;
    height: 90px;
    
  }
  
  /* Styling for the brand name */
  .brand {
    font-size: 1.5em;
    img{
        width: 60px;
        height: 60px;
    }
  }
  
  /* Hide the menu toggle checkbox */
  .menu-toggle {
    display: none;
  }
  
  /* Styling for the menu icon */
  .menu-icon {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  /* Styling for the navigation items */
  .nav-items-container {
    display: flex;
    list-style: none;
    gap: 20px;
    
    li {
        a{
            text-decoration: none;
        color: white;
        font-size: 20px;
        transition: font-size 0.5s;
        }
    }
    li a:hover{
        font-size: 25px;
        color: #fac243;
        
    }
  }

  
  /* Styling for the phone section */
  .phone {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .phone i {
    font-size: 1.2em;
  }
  

.btn-icn{
    display: flex;
    flex-direction: column;
    gap: 250px;
    .icn{
        
        i{
            transition: font-size 0.5s ease;
        }
        i:hover{
            font-size: 50px;
            color: #fac243;
        }
        // z-index: -1;
        height: 60px;
        i{
            padding-top: 10px;
            padding-right: 10px;
            font-size: 30px;
        }
        text-align: center;
        width: 100%;
        background-color: #101624;
        border-style: solid none solid solid;
        border-color: gray;
        border-radius: 25px;
        border-width: 1px;
    }
}


.phone{
    display: flex;
    i,h5{
        align-self: center;
        display:inline-block;
    }
    h5{
        color: #fac243;
    }
    width: 200px;
}
.head-container{
    height: 800px;
    width: 100%;
    background-color: #070d1b;
    color: aliceblue;
    display: grid;
    grid-template-columns: auto 660px;
    // align-content: center;
    .hero-flex{
        display: flex;
        flex-direction: column;
        // align-self: center;
        
        h4{
           justify-items: end;
            font-size: 30px;
            color: #fac243;
            
        }
        p{
            font-size: 90px;
        }
        h5{
            font-size: 30px;
            color: rgba(104, 103, 103, 0.731);
        }
        button{
            border-radius: 25px;
            width: 170px;
            height: 40px;
            background-color: #fac243;
        }
        
    }
    .hero-image{
        img{
            width: 100%;
            height: 600px;
        }
    }

}
.about{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #070e1b;
    color: white;
  
    .smalll{
        p{
            font-size: 100px;
            text-align: center;
            color: #101624;
            animation-name: ab;
            animation-duration: 2s;
            animation-iteration-count: 4;
            // color: #fac243;
    
        }
        p::first-letter{
            color: #fac243;
        }
        
    }
    @keyframes ab {
        0% {color:#101624 ; }
        50%{color: #fac243;}
        100%{color: #101624;}
        
    }
    img{
        width: 500px;
        height: 550px;
    }
    .about-container{
        display: grid;
        grid-template-columns: auto auto;
        gap: 90px;
        justify-content: space-evenly;

        .about-flex{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .info{
                line-height: 200%;
                color: #a9adb8;
            }
            .mrn{
                margin: 0px;
                color: #fac243;
                font-size: 25px;
            }
            .wlc{
                font-size: 36px;
            }
            .desc{
                width: 400px;
                color: #a9adb8;
            }
            .cv-btn{
                a{
                    text-align: center;
                button{
                    background-color: #fac243;
                    // padding: 20px;
                    color: rgb(0, 0, 0);
                    border-radius: 40px;
                    width: 200px;
                    height: 40px;
                    text-align: center;
                    transition: box-shadow 0.5s , width 0.5s, height 0.5s, font-size 0.5s;
                }
                button:hover{
                    width: 225px;
                    height: 65px;
                    font-size: 15px;
                    box-shadow: 5px 5px 20px rgba(238, 236, 236, 0.5);
                }
            }
            }
        }
    }
}
.service{
    background-color: #070e1b;
    height: 1000px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    justify-content: space-evenly;
    .srv-head{
        p{
            font-size: 100px;
            text-align: center;
            color: #101624;
            animation-name: svr;
            animation-duration: 2s;
            animation-iteration-count: 4;
        }
        @keyframes svr {
            0% {color:#101624 ; }
            50%{color: #fac243;}
            100%{color: #101624;}
            
        }
        p::first-letter{
            color: #fac243;
        }
        
        grid-column: span 3;
    }
    .dsize{
        .srv-desc{
            text-align: center;
            font-size: 15px;
            color: #c6c6c6;
        }
        .icn-txt-hov{
        transition: background-color 0.5s ;

        }
        .icn-txt-hov:hover{
            background-color: #fac243;
           
        }
        background-color: #101624;
        border-style: solid solid solid solid;
        border-color: gray;
        width: 360px;
        height: 360px;
        .icn-center{
            text-align: center;
            padding-top: 60px;
            
            
        i{
            color: gray;
            padding: 20px;
            text-align: center;
            background-color: #070d1b;
            border-style: solid solid solid solid;
            border-color: gray;
            border-radius: 100px;
            font-size: 50px;

        }
    }

    }
    .icn-txt-srv{
        color: white;
        font-size: 30px;
        text-align: center;
        padding-top: 30px;
    }
}
.skills-container{
    height: 900px;
    background-color: #070e1b;
    display: flex;
    flex-direction: column;
   .progresbar{
    color: #aaabad;
    display: flex;
    flex-direction: column;
    gap: 30px;
   }
   .skl-percent{
    display: flex;
    justify-content: space-between;
   }
    .txt-flex{
        display: flex;
        gap: 90px;
        .progresbar{
            .progress{
                width: 700px;
                height: 4px;
            }
        }
    }
    .skl-head{

        p{
            font-size: 100px;
            text-align: center;
            color: #101624;
            animation-name: svr;
            animation-duration: 2s;
            animation-iteration-count: 4;
        }
        @keyframes svr {
            0% {color:#101624 ; }
            50%{color: #fac243;}
            100%{color: #101624;}
            
        }
        p::first-letter{
            color: #fac243;
        }
        
        // grid-column: span 3;
    }
    .skl-txt{
        color: #fff;
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: space-around;
        .skl-txt-1{
            font-size: 30px;

        }
        .skl-desc{
            width: 600px;
            color: #8d8b8b;
        }

    }
}
.prj-container{
    background-color: #070e1b;
    height: 1000px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    justify-content: space-evenly;
    .prj-head{
        p{
            font-size: 100px;
            text-align: center;
            color: #101624;
            animation-name: svr;
            animation-duration: 2s;
            animation-iteration-count: 4;
        }
        @keyframes svr {
            0% {color:#101624 ; }
            50%{color: #fac243;}
            100%{color: #101624;}
            
        }
        p::first-letter{
            color: #fac243;
        }
        
        grid-column: span 3;
    }

    .prj-desc{
        background-color: #101624;
        border-style: solid solid solid solid;
        border-color: gray;
        width: 360px;
        height: 360px;
        transition: box-shadow 0.5s;
        img{
            width: 100%;
            height: 88%;
            // transition: height 0.5s;
        }
        p{
            text-align: center;
            color: #fac243;
            font-size: 20px;
            // transition: display 0.5s;


        }
        // img:hover{
        //     height: 100%;

            
            
        // }
        
        
    }
    .prj-desc:hover{
        box-shadow: 5px 5px 20px rgba(238, 236, 236, 0.5);

        // p{
        //     display: none;
        // }
    }
}
.footer {
    height: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0a101e;
    color: rgb(120, 119, 119);
    text-align: center;
 }
@media screen and (max-width: 1023px){
    .about{
        .about-container{
            img{
                display: none;
            }
            display: grid;
            grid-template-rows: auto auto;
            gap: 0;
        }
        .smalll{
            p{
                font-size: 50px;
            }
        }
    }
    .prj-container{
        height: 1900px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-left: 19px;
        height: 100%;
        .prj-desc{
            width: 370px;
                height: 500px;
        }
        .prj-head{
            p{
                font-size: 50px;
                margin-top: 300px;
    
                }
        }
    }
   
    .service{
        height: 1900px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-left: 19px;
        
        .dsize{
            width: 370px;
            height: 500px;
        }
        


        
        
        .srv-head{
           
            p{
            font-size: 50px;

            }
        }
    }
    .menu-icon {
        display: block;
      }
      
      .nav-items-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
      }
      
      .nav-items-container li {
        margin: 10px 0;
      }
      
      .menu-toggle:checked + .menu-icon + .nav-items-container {
        display: flex;
      }
    
    .head-container{
        height: 600px;
        padding-top: 40px;
        .hero-flex
        {
            p{
                font-size: 40px;
            }
        }
        display: flex;
        flex-direction: column;
        .hero-image
        {
            width: 100%;
        }
    }
    .nav_container{
        width: 100%;
    }
    .icn,.hero-image{
        display: none;
    }
    .skills-container{
        .skl-head{
            p{
                font-size: 60px;
            }
        }
        .skl-txt{
            .skl-desc{
                width: 400px;
                font-size: 10px;
            }
        }
        padding-top: 300px;
        .txt-flex{
            display: flex;
            flex-direction: column;
           .progresbar{
            width: 100%;
            .progress{
                height: 4px;
                width: 100%;
            }
           }
        }
    }
}

